/* Tipografía y colores */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

h1, h2 {
    color: #2c3e50;
}

p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Estilo del carrusel */
.carousel {
    margin-bottom: 30px;
}

.carousel-item img {
    max-height: 400px;  /* Limita la altura máxima de las imágenes */
    width: 100%;        /* Asegura que las imágenes ocupen todo el ancho del carrusel */
    object-fit: contain;  /* Ajusta las imágenes para que no se distorsionen ni recorten demasiado */
    margin: 0 auto;     /* Centra las imágenes */
    display: block;     /* Asegura que las imágenes sean bloques centrados */
    height: auto;       /* Ajusta la altura automáticamente */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Fondo negro translúcido */
    padding: 10px;
    border-radius: 10px;
}

.carousel-caption h5, .carousel-caption p {
    color: #fff; /* Texto blanco */
}

/* Botón de llamada a la acción */
.btn-warning {
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn-warning:hover {
    background-color: #d35400;
    transform: translateY(-5px); /* Animación sutil */
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #f7f7f7;
}

footer a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    color: #e67e22;
}

/* Secciones con más espaciado */
section {
    padding: 60px 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Adaptación para móviles */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
    .carousel-item img {
        max-height: 250px; /* Limita la altura de las imágenes en móviles */
    }
}
